h1{
    text-transform: capitalize;
    text-align: center;
    font-family: 'Times New Roman';
}
#outer{
    font-size: 25px;
    font-family: 'Times New Roman';
}
#inner{
    font-size: 10px;
    font-family: 'Times New Roman';
}